body{
    margin: 0;
    padding: 30px;
}
.default-input{
    height: 30px;
    width:180px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-style: none;
    padding: 0 10px;
}

.default-btn{
    width: 100px;
    height: 30px;
    background: #2bae85;
    color: #fff;
    border: 1px solid #2bae85;
    border-radius: 4px;
}
.head-title{
    font-size: 16px;
    color: #1f2040;
    font-weight: 600;
    margin: 10px 0;
}
.head-filter{
    border-bottom: 1px solid #5bae23;
    box-shadow: 0px 5px 6px -4px #5bae23;
    margin-bottom: 20px;
}
.default-textarea{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 0 5px 5px;
    outline-style: none;
    margin-right: 10px;
    font-size: 30px;
}
.sql-form{
    display: flex;
    align-items: flex-end;
}
.db-wrap{
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}
.db-row{
    padding: 0;
    list-style: none;
    width: 385px;
    margin: 0;
    height: 500px;
    overflow: auto;
}
.db-row .db-name{
    text-decoration: none;
    color:  #43b244;
}
.db-table{

}
.table-row{
    list-style: none
}
.table-row .table-name{
    text-decoration: none;
    color: #134857;
    word-break: break-all;
    display: flex;
}
.table-row .table-name-left{
    margin-right: 6px;
}
.table-wrap{
    height: 500px;
    border: 1px solid #f2f2f2;
    overflow: auto;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-wrap td, th{
    padding: 5px 15px;
    text-align: center;
}
.table-wrap tr:nth-child(even){
    background: #c4cbcf;
}

.table-wrap th{
    background:#66a9c9;
}
.table-wrap-content{
    width: 100%;
    overflow: auto;
    /*display: flex;*/
}
.table-wrap-content table{
    width:100%;
}

.pagination{
    margin: 10px auto;
    display: flex;
}
.pagination .pre-btn-disabled, .next-btn-disabled{
    background-color: #f4f4f5;
    color: #c0c4cc;
    width: 30px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: not-allowed;
}
.pagination .number, .next-btn , .pre-btn{
    background-color: #f4f4f5;
    color: #606266;
    min-width: 30px;
    border-radius: 2px;
    width: 30px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin: 0 4px;
}
.pagination .active {
    background-color: #409eff;
    color: #fff;
}
