<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库工具</title>
    <link href="../static/base_css.css" rel="stylesheet" />
</head>
<body>
<div class="head-title">
    {% if g.nick %}已连接数据库 -- {{ g.nick }}
    {% else %}暂未连接数据库
    {% endif %}
</div>
<div class="head-filter">
    <form method="post">
        <input name="nick" placeholder="数据库简称" required class="default-input">
        <input name="host" placeholder="请输入域名或ip" required class="default-input">
        <input name="port" placeholder="请输入端口号" required class="default-input">
        <input name="user" placeholder="请输入用户名" required class="default-input">
        <input name="pswd" placeholder="请输入密码" type="password" required class="default-input">
        <input type="submit" value="提交" class="default-btn">
        <p style="color: red;">{{ error }}</p>
    </form>
</div>
<div>
    <div class="head-title"> SQL查询 </div>
    <form action="/query_one" method="post" class="sql-form">
        <textarea name="query_one" class="default-textarea"></textarea><input type="submit" value="查询" class="default-btn">
    </form>
</div>
<div  class="db-wrap">
    {% if dbs %}
    <ul class="db-row">
        {% for db in dbs %}
            <li style=" padding: 5px 0;">
                <a href="{{ url_for("query", name=db) }}" class="db-name"> &gt; {{ db }}</a>
                <div class="db-table">
                    {% if tables and query_db == db%}
                    <ul class="table-row">
                        {% for table in tables %}
                            <li style=" padding: 2px 0;">
                                <a class="table-name" href="{{ url_for("table_data", name=table) }}"> &gt; &nbsp;&nbsp;{{ table }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="table-wrap">
        <table cellspacing="0" cellpadding="0" >
            {% if cols and datas %}
                <thead>
                    {% for col in cols %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        {% for d in data %}
                        <td>{{ d }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</div>


{% block body %}{% endblock %}
</body>
</html>